.sidbar{
    position: fixed;
    left: 0;
    width: 25%;
    height: 250px;
    margin-top: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid gray;
    border-radius: 10px 10px;
} 
.example-chip-list {
    width: 100%;
  }

.main{ 
    position: absolute;
    right: 0;
    width: 70%;
    
}


.box{
    box-sizing: border-box;
    border-bottom: 2px solid gray;
    border-radius: 10px 10px;
    margin-top: 15px;
}
.btn-container{
    width: 275px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.td-btn{
    cursor: pointer;
}

/*search item*/

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F51B5;
}
.btn{
    width: 100px;
    background-color: #2E59D9;
    color: white;
}


@media all and (max-width: 600px) {
    .sidbar{
        position: fixed;
        left: 0;
        width: 75%;
        height: 250px;
        box-sizing: border-box;
        border-bottom: 2px solid gray;
        border-radius: 10px 10px;
    } 
    .main{ 
        position: absolute;
        left:  0;
        margin-left: 15px;
        width: 100%;
        margin-top:  250px; 
    }
}

@media all and (max-width: 700px) {
    .sidbar{
        font-size: small;
    }
    .box{
        box-sizing: border-box;
        border-bottom: 2px solid gray;
        border-radius: 10px 10px;
        margin-top: 10px;
    }
    .table-res{
    font-size: small; 
    }
}
